    <h1>Recruit for Army </h1>
    <div class="col-xs-12 col-sm-6">
      <div class="text-center">
        <%= simple_form_for [@pokemon,@deck] do |f| %>
        <%= f.input :start %>
        <%= f.input :end %>
        <%= f.submit %>
        <% end%>

      </div>
    </div>